server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/booking
    username: root
    password: Pravin@123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  mail:
    host: smtp.gmail.com
    port: 587
    username: pythoooonexpert@gmail.com
    password: buqxyyijorogwwrv
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true








