<div class="container fluid-container mt-5">   
  <div class="row">
    <div class="col-md-12">
      <form class="flight-booking-form">

        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Source</mat-label>
            <!-- <input #source (keyup)="filterBySource(source.value.trim())" matInput placeholder="Ex. Kolkata" value=""> -->
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="sourceInp"   #source  matInput placeholder="Ex. Kolkata" value="" >  
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Destination</mat-label>
            <!-- <input #destination (keyup)="filterByDestination(destination.value.trim())" matInput placeholder="Ex. New Delhi" value=""> -->
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="destinationInp" #destination  matInput placeholder="Ex. New Delhi" value="">

          </mat-form-field>
        </div>


        <div>
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [min]="minDate" [max]="maxDate"   [ngModelOptions]="{standalone: true}"   [(ngModel)]="startDateInp"  [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [ngModelOptions]="{standalone: true}"  [(ngModel)]="endDateInp"  [matDatepicker]="picker2">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

        <div>
          <button mat-raised-button color="primary" (click)="getFlightsByQuery()">Submit</button>
        </div>

      </form>

      <!-- child component -->
      <!-- <app-flight-search></app-flight-search> -->
      <!-- Search Bar -->
      <p>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="airlineInp" #query (keyup)="filterFlights()" type="text" class="form-control mt-3" placeholder="Search by airline...">
        <!-- <input #query (keyup)="filter(query.value)" type="text" class="form-control mt-3" placeholder="Search by airline..." -->
      </p>

      <!---datatble starts -->
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th></th>
            <th>Airline</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Departure Date</th>
            <th>Departure Time</th>
            <th>Arrival Date</th>
            <th>Available Seats</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let flight of filteredFlights">
            <td> <img class="airline-logo" src={{flight.flightLogoUrl}}></td>
            <td>{{flight.flightName}}</td>
            <td>{{flight.flightSource}}</td>
            <td>{{flight.flightDestination}}</td>
            <td>{{flight.flightDepartureDate | date:"mediumDate"}}</td>
            <td>{{flight.flightDepartureDate | date:'medium'}}</td>
            <td>{{flight.flightArrivalDate  | date:"mediumDate"}}</td>
            <td>{{flight.flightTotalSeats - flight.flightBookedSeats}}</td>
            <td>&#8377;{{flight.flightFare}}</td>
            <td>
              <button mat-raised-button color="warn" (click)="navigateToBooking(flight.flightId)" >Book</button>
            </td>
            <!-- <td><a [routerLink]="['/admin/products/', product.key]">Edit</a></td> -->
          </tr>

        </tbody>
      </table>

      <!-- child ends -->
    </div>
  </div>
</div>
