<div class="container mt-2">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-4 mb-5">

      <mat-card>
        <div class="container text-center">
          <mat-icon>account_circle</mat-icon>
          <h3>Password Reset</h3>
        </div>

        <form class="mt-4" >
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input  required name="userEmail" type="email" required matInput
              placeholder="Enter Email" #email>
          </mat-form-field>


   
          <div class="container text-center mt-4">
            <button type="submit" class="submit-btn" (click)="submit(email)" >Submit</button>
          </div>
        

        </form>
      </mat-card>
    </div>
  </div>
</div>
