mat-form-field {
    width: 100%;
  }
  
  mat-icon {
    font-size: 60px;
    padding-right: 60px;
    overflow: visible;
  }
  
  
  
  .submit-btn {
    border: none;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 12px 40px;
    border-radius: 50px;
    text-transform: uppercase;
  }
  
  a {
    text-align: right;
    color: #000;
    text-decoration: none;
  }
  
  a:visited {
    color: #000;
  }
  
  .heading {
    font-weight: 600;
    letter-spacing: 2px;
  }
  