<div class="container mt-2">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-4 mb-5">
        <mat-card>
          <div class="container text-center">
            <mat-icon>how_to_reg</mat-icon>
          </div>
          <h3 class="text-center">Enter your new Password: </h3>
          <form (ngSubmit)="onFormSubmit()" [formGroup]="reactiveForm" class="mt-4">
            <div class="row mt-2">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>New Password</mat-label>
                  <input formControlName="userPassword" name="userPassword" type="userPassword" matInput placeholder="Password">
                  <mat-error *ngIf="f['userPassword'].errors && f['userPassword'].errors['required']">Please enter Password</mat-error>
                  <mat-error *ngIf="f['userPassword'].errors && f['userPassword'].errors['minlength']">Password must be of minimum 6 length -->
                </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input formControlName="matchingPassword" name="matchingPassword" type="password" matInput
                    placeholder="Confirm Password">
                  <mat-error *ngIf="f['matchingPassword'].errors && f['matchingPassword'].errors['required']">Please enter Confirm
                    Password</mat-error>
                  <mat-error *ngIf="f['matchingPassword'].errors && f['matchingPassword'].errors['mustMatch']">Confirm
                    Password did not match</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="container text-center mt-4">
              <button type="submit" class="submit-btn">Submit</button>
            </div>
            <div class="container text-end mt-4">
              <a routerLink="/login">Have an account already?</a>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
  